{* This is the welcome page, you can delete it *}

{block content}
	<h1>Hi, I am ElfoslavCMS</h1>

	<a n:href="Blog:">See my blog</a><br>
	<a n:href=":Admin:Home:">Enter administration</a>

	{include ../includes/@articles.latte}
