{block content}

%h1[n:block => title]
	{_'Stránky'}

%ul
	%li[n:foreach => $pages as $page]
		%h2
			%a[n:href => :Front:Page:show $page->getSlug()]
				= $page->getTitle()
			<small>({$page->isPublished() ? 'Zverejnené' : 'Nezverejnené'})</small>
		%p
			{!$page->getContent()}
		%p
			%small
				= $page->getCreated()|date

		<a n:href=":Admin:Page:update $page->getId()">Update</a>
