{block content}

	<h1 n:block="title">{_'Úprava článku'}</h1>

	<a n:href=":Front:Blog:show $article->getSlug()" target="_blank">{_'Preview'}</a>

	{control editArticleForm}

	<a n:href=":Admin:Blog:">&larr; {_'Všetky články'}</a>

{/block}

{block scripts}

	{include ../includes/@tinymceScript.latte}

{/block}
