{var $robots = noindex}
{block #content}

<h1>{_'Stránka nenájdená'}</h1>

<p>{_'Stránka, ktorú ste hľadali neexistuje. Všetky informácie nájdete v hornom menu.'}</p>

<p><small>error 404</small></p>
